<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <h1>Registrar nuevo Paciente</h1>
    </main>
    <%- include('../partials/formNuevo'); %>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
