<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column min-vh-100 justify-content-between">
    <header><%- include('../partials/header', {page:'add'}); %></header>

    <main class="container py-4">
      <h1>Registrar nuevo Paciente</h1>
      <%- include('../partials/formNuevo'); %>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
