<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <h1>Pagina de pacientes registrados</h1>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
